body{
	background-image: url("HintergrundStart.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.login-form {
	background-color: lightgray;
	opacity: 80%;
	margin: auto;
	margin-top: 5%;
	text-align: center;
	width: 300px;
	font-family: sans-serif;
	border-radius: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border: solid black 3px;
}

.login-form a{
	padding-top: 20px;
	text-decoration: none;
	color: #3f3f3f;
	width: 100%;
}

.login-form h1 {
	text-align: center;
	color: #535b63;
	font-size: 30px;
	padding: 10px 0 10px 0;
}

.login-form input[type="text"] {
	width: 100%;
	padding: 15px;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
	box-sizing:border-box;
}

.login-form input[type="password"] {
	width: 100%;
	padding: 15px;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
	box-sizing:border-box;
}

.login-form input[type="submit"] {
	width: 100%;
	padding: 15px;
	background-color: #535b63;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 8px;
}
