body {
    background-image: url("bildwolken.jpg");
    background-position: top top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
  }
  
  header {
    background: linear-gradient(180deg, rgb(223, 222, 222, 0.6), rgba(223, 222, 222, 0.05));
    display: grid;
    grid-template-columns: 10fr 1fr 1fr 1fr 1fr;
  }
  
  #logo {
    height: 80px;
    width: 80px;
  }
  
  #name {
    font-size: 25px;
    font-family: Georgia, Times, "Times New Roman", serif;
    
    
  }
  
  #coins {
    margin-top: 5%;
    height: 65px;
    width: 65px;
    margin-left: 30%;
  }
  
  #anzCoins {
    font-size: 25px;
    font-family: Georgia, Times, "Times New Roman", serif;
    
  }
  
  
  #logout button{
    margin-top: 15%;
    margin-left: 15%;
    border-radius: 12px;
    background-color: #da1616;  
    color: white;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    font-family: Georgia, Times, "Times New Roman", serif;
  }

  #title{
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
  }

  #recentWinnings{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 500px;
    padding-left: 20px;
    padding-right: 20px;
    
  }

  .user-container{
    margin-top: 5%;
    border: solid black;
    height: 15%;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    background-color: rgb(20, 20, 238, 30%);
  }

  .selber{
    margin-top: 3%;
  }

  #grenze{
    font-size: 50px;
    white-space: nowrap;
    overflow: hidden;
    align-content: center;
  }

  .platzierung{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    font-size: 25px;
  }

  .name{
    border: solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    font-size: 25px;
  }

  .amount{
    border: solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 25px;
  }
